#silence{
    position: relative;
    left: 50px;
}
#silence h3{
    position: relative;
    left: 150px;
    top: 100px;
}
#silence1{
    position: absolute;
    width: 87px;
    height: 87px;
    border-radius: 100px;
    left: 13px;
    background-image: url('../img/silence1.jpg');
    background-position: center;
    background-size: 100%;
    border: 11px solid #FFFAD0;
}
#link1-2{
    background-color: #FFFAD0;
    height: 3px;
    width: 250px;
    transform: rotate(43deg);
    position: relative;
    top: 110px;  
}
#silence2{
    position: absolute;
    background-color: #FFFAD0;
    width: 87px;
    height: 87px;
    border-radius: 100px;
    left: 160px;
    top: 175px;
    background-image: url('../img/silence2.jpg');
    background-position: center;
    background-size: 100%;
    border: 11px solid #FFFAD0;
}
#link2-3{
    background-color: #FFFAD0;
    height: 3px;
    width: 150px;
    position: relative;
    top: 180px;
    left: 75px;
}
#silence3{
    position: absolute;
    background-color: #FFFAD0;
    width: 87px;
    height: 87px;
    border-radius: 100px;
    left: 13px;
    top: 175px;
    background-image: url('../img/silence3.jpg');
    background-position: center;
    background-size: 100%;
    border: 11px solid #FFFAD0;
}
#silence div:hover{
    animation: 1s onHoverSilence;
    animation-fill-mode: forwards;
}

@keyframes onHoverSilence{
    from { width: 87px; height: 87px; }
    to { width: 130px; height: 130px; }
}