#silence, #void, #dark, #absence{
    position: relative;
    left: 5vw;
}
#silence h3, #void h3, #dark h3, #absence h3{
    position: relative;
    left: 150px;
    top: 100px;
}
#silence1, #void1, #dark1, #absence1{
    position: absolute;
    width: 87px;
    height: 87px;
    border-radius: 100px;
    left: 13px;
    background-image: url('../img/silence1.jpg');
    background-position: center;
    background-size: 100%;
    border: 11px solid #FFFAD0;
}
#silenceLink1-2, #voidLink1-2, #darkLink1-2, #absenceLink1-2{
    background-color: #FFFAD0;
    height: 3px;
    width: 250px;
    transform: rotate(43deg);
    position: relative;
    top: 110px;  
}
#silence2, #void2, #dark2, #absence2{
    position: absolute;
    background-color: #FFFAD0;
    width: 87px;
    height: 87px;
    border-radius: 100px;
    left: 160px;
    top: 175px;
    background-image: url('../img/silence2.jpg');
    background-position: center;
    background-size: 100%;
    border: 11px solid #FFFAD0;
}
#silenceLink2-3, #voidLink2-3, #darkLink2-3, #absenceLink2-3{
    background-color: #FFFAD0;
    height: 3px;
    width: 150px;
    position: relative;
    top: 180px;
    left: 75px;
}
#silence3, #void3, #dark3, #absence3{
    position: absolute;
    background-color: #FFFAD0;
    width: 87px;
    height: 87px;
    border-radius: 100px;
    left: 13px;
    top: 175px;
    background-image: url('../img/silence3.jpg');
    background-position: center;
    background-size: 100%;
    border: 11px solid #FFFAD0;
}
.bubbles div:hover{
    animation: 1s onHover;
    animation-fill-mode: forwards;
}

#void h3{
    left: 925px;
}
#void1{
    left: 750px;
}
#void2{
    left: 950px;
}
#void3{
    left: 1200px;
    top: 150px;
}
#voidLink1-2{
    left: 750px;
    transform: rotate(35deg);
    top: 100px;
}
#voidLink2-3{
    left: 975px;
    width: 250px;
    top: 170px;
    transform: rotate(-5deg);
}

#dark{
    top: 200px;
}
#dark h3{
    left: 400px;
    top: 75px;
}
#dark2{
    top: 35px;
    left: 250px;
    background-image: url('../img/dark2.jpg');
}
#dark3{
    top: -50px;
    left: 500px;
    background-image: url('../img/dark3.png');
}
#darkLink1-2{
    transform: rotate(-5deg);
    top: 45px;
    left: 20px;
}
#darkLink2-3{
    top: -10px;
    transform: rotate(-20deg);
    width: 250px;
    left: 300px;
}

#absence{
    left: 950px;
    top: 150px;
}
#absence h3{
    left: 75px;
}
#absence1{
    left: 300px;
}
#absence3{
    background-image: url('../img/absence3.jpg');
}
#absenceLink1-2{
    transform: rotate(-45deg);
    left: 150px;
}

@keyframes onHover{
    from { width: 87px; height: 87px; }
    to { width: 130px; height: 130px; }
}